.menu_scroller {
  width: 58px;
  height: 280px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

  border-radius: 100px;
  padding: 1rem;
  background: linear-gradient(
    to bottom,

    #202c6133,
    /* cc = 80% прозорості */ #7274ed,
    #4b4ee333
  );
  border: 1px solid rgba(248, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu_item {
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu_item:hover {
  transform: scale(1.1);
  /* Ефект збільшення при наведенні */
}
.menu_item:hover div {
  filter: drop-shadow(0 0 8px rgba(0, 255, 231, 0.7)); /* Ефект світіння */
}
