.menuIcon {
  opacity: 1;

  cursor: pointer;
  object-fit: contain;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}
