.menuIcon {
  width: 32px;
  height: 32px;
  opacity: 0;
  color: #fff;

  transition: all 0.6s ease-out;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}
