.contactsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100vh;
}

.container_forms {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex: 1;
  padding: 77px 20px;
  height: 100%;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--color-accent);
  text-align: center;
  animation: shimmerIcon 4s linear infinite;
  filter: brightness(1.1);
}

@keyframes shimmerIcon {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (max-width: 768px) {
  .contactsPage {
    padding: 1rem;
  }
  .container {
    padding: 1rem;
    width: 100%;
    height: auto;
  }

  .text {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .text {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }

  .title_2 {
    font-size: 1.5rem;
  }

  .title_container {
    width: 100px;
    height: 20px;
  }

  .container {
    padding: 0.5rem;
  }

  .line {
    height: 2px;
  }

  .title_2 {
    margin-bottom: 1rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .contactsPage {
    padding: 0.5rem;
  }

  .container {
    padding: 0.5rem;
  }

  .title_container {
    padding: 0.5rem;
    width: 100px;
    height: 20px;
  }
  .container_forms {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
}
