.contactsPage {
  display: flex;

  align-items: center;
  justify-content: center;
  height: auto;

  border-radius: 8px;
}
.title {
  font-size: 2rem;
  background: linear-gradient(90deg, #00ffe7, #5e60ce);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmerIcon 4s linear infinite;
  filter: brightness(1.1);
}
.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 140px;
  height: 30px;
  margin-top: 1rem;
  border-radius: 8px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #1c1d5033,
    #4b67e333,
    /* cc = 80% прозорості */ #7274ed,
    #4b4ee333,
    #1c1d5033
  );
  border: 1px solid rgba(248, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  width: 95%;
  height: auto;

  border-radius: 8px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #1c1d5033,
    #4b67e333,
    /* cc = 80% прозорості */ #4b4ee333,
    #4b4ee333,
    #1c1d5033
  );
  border: 1px solid rgba(248, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.line {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #00ffe7, #5e60ce);
  margin-bottom: 1rem;
}
.title_2 {
  font-size: 2rem;
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 2rem;
  -webkit-text-fill-color: transparent;
  animation: shimmerIcon 4s linear infinite;
  filter: brightness(1.1);
}
.text {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  width: 600px;
}

@keyframes shimmerIcon {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (max-width: 768px) {
  .text {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .text {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }

  .title_2 {
    font-size: 1.5rem;
  }

  .title_container {
    width: 100px;
    height: 20px;
  }

  .container {
    padding: 0.5rem;
  }

  .line {
    height: 2px;
  }

  .title_2 {
    margin-bottom: 1rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .contactsPage {
    padding: 0.5rem;
  }

  .container {
    padding: 0.5rem;
  }

  .title_container {
    padding: 0.5rem;
    width: 100px;
    height: 20px;
  }
}
