/* Вимкнення стандартного скроллбара */
.no_scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.no_scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}

/* Плавний скролл */
html {
  scroll-behavior: smooth;
}

/* Додаткові стилі для кращого відображення */
section {
  transition: background-color 0.5s ease;
}
