.consultation {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  border: 2px solid rgba(248, 244, 244, 0.1);
  border-radius: 8px;
}

.consultation:hover {
  border-radius: 1rem;
  transform: scale(1.02);
  background-color: var(--color-background);
  box-shadow: 0 8px 25px rgba(83, 235, 192, 0.4);
  border: 2px solid var(--color-accent);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.content {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.gradient {
  position: absolute;
  inset: 0;
  background-color: var(--color-background);
  z-index: 0;
}

.inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.text {
  width: 100%;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-accent);
}

.text p {
  color: #e5e7eb;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  -webkit-background-clip: text;
  color: var(--color-text);
  background-image: linear-gradient(
    to right,
    var(--color-accent),
    var(--color-accent-hover)
  );
  border: 2px solid var(--color-accent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmerIcon 4s linear infinite;
  filter: brightness(1.1);
  display: inline-flex;
  padding: 0.75rem 2rem;

  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
@keyframes shimmerIcon {
  0% {
    filter: brightness(1) drop-shadow(0 0 2px #fff);
  }
  50% {
    filter: brightness(1.5) drop-shadow(0 0 8px #00e5ff);
  }
  100% {
    filter: brightness(1) drop-shadow(0 0 2px #fff);
  }
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(83, 235, 192, 0.4);
  border: 2px solid var(--color-accent);
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  color: var(--color-accent);
}

.imageWrapper {
  width: 100%;
}

.imageContainer {
  height: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}

.imageContainer:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .inner {
    flex-direction: column;
  }
  .text h3 {
    font-size: 2.25rem;
  }
  .imageContainer {
    height: 13.5rem;
  }
}
