.homePage {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}

.techSection,
.experienceSection {
  padding: 2rem 0;
}

.sectionContent {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-text);
  text-align: center;
}

/* Адаптація для мобільних пристроїв */
@media (max-width: 768px) {
  .homePage {
    padding: 1rem;
    gap: 2rem;
  }

  .techSection,
  .experienceSection {
    padding: 2rem 0;
  }

  .sectionTitle {
    font-size: 1.5rem;
  }
}
