.tech_scroller {
  overflow: hidden;
  white-space: nowrap;
  padding: 20px 0;
  animation: scroll 10s linear infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.tech {
  display: flex;
  gap: 40px;
  will-change: transform;
}

.tech_scroller {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 96%;
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #1c1d5033,
    #4b67e333,
    /* cc = 80% прозорості */ #7274ed,
    #4b4ee333,
    #1c1d5033
  );
  border: 1px solid rgba(248, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tech_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    #1c1d5033,
    #4b67e333,
    /* cc = 80% прозорості */ #7274ed,
    #4b4ee333,
    #1c1d5033
  );
  border: 1px solid rgba(248, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
