.layoutContainer {
  display: flex;
  min-height: calc(100vh - 5rem);
  background-color: var(--color-background);
  position: relative;
}

.mainContent {
  flex: 1;

  /* Ширина сайдбара */
  transition: all 0.3s ease;
  min-height: calc(100vh - 5rem);
}

.mainContent.blurContent {
  filter: blur(2px);
  pointer-events: none;
}

.mobileMenuButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 60;
  padding: 0.5rem;
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.themeToggleContainer {
  padding: 1rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
  }

  .mainContent.blurContent {
    filter: blur(2px);
  }
}
