.layoutContainer {
  display: flex;
 
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.mainContent {
  flex: 1;

  /* Ширина сайдбара */
  transition: all 0.3s ease;
  
}

.mainContent.blurContent {
  filter: blur(2px);
  pointer-events: none;
}



.themeToggleContainer {
  padding: 1rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
  }

  .mainContent.blurContent {
    filter: blur(2px);
  }
}
