#root {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border: 2px solid rgb(238, 235, 235);
  border-radius: 8px;
  background: radial-gradient(circle at top left, #1f1f3d 0%, #0e0e1a 100%);
}
