/* Noise.module.css */

.noise {
  position: fixed;
  inset: -50%;
  width: 200%;
  height: 200%;
}

/* Анімація зміщення */

/* Для зменшення анімацій */
@media (prefers-reduced-motion: reduce) {
  .noise {
    animation: none;
    opacity: 0.2;
  }
}

/* Dark theme */
.noise.dark {
  opacity: 0.3;
  background-image: url('/images/texture.png');
}

/* Light theme */
.noise.light {
  opacity: 0.1;
  background-image: url('/images/texture.png');
}
