.carouselWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0rem 1rem;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}
.slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.card {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 3/2;
  background-color: #1a1a1a;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-family: "Azeret Mono", monospace;
  font-size: 2rem;
  color: #8df0cc;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
div .m_title {
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-weight: 700;
  color: white;
  line-height: 1.2;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div .main_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-weight: 700;
  color: transparent;
  line-height: 1.2;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-shift 5s ease infinite;
}
.subtitle {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  background-clip: text;
  animation: gradient-shift 5s ease infinite;
}

.icon {
  background: linear-gradient(90deg, #4368ff, #ff5252, #4368ff);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  background-clip: text;
  animation: gradient-shift 5s ease infinite;
}
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
