.nav_link:hover {
  color: var(--color-secondary);
  text-decoration: none;
}
.main_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 86%;
  margin-left: 160px;
  z-index: 999;
  padding: 1.5rem 1rem;
  background: transparent;
  color: #fff;
  transition: all 0.3s ease;
}

.main_header.scrolled {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  color: #222;
}

.nav_link {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--color-text);
  transition: color 0.3s;
}

.nav_link i {
  color: inherit;
  font-size: 1.2rem;
  transition: color 0.3s;
  margin-right: 0.5rem;
}

.active {
  color: var(--bs-primary); /* або свій: #0d6efd */
  font-weight: 600;
}
