.wrapper {
  perspective: 1000px;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  background: #111;
  color: white;
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
  will-change: transform;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 12px;
}