.contactInfo {
  padding: 1rem;
  background: var(--color-background);
  border-radius: 0.1rem;
  border: 1px solid rgba(248, 244, 244, 0.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3), 0 0 10px var(--color-surface);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

.header {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.headerWrapper {
  background: var(--color-accent);
  color: white;
  padding: 1rem;
  width: 360px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: -30px;
  transform: translateY(-2px);
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3), 0 0 10px var(--color-surface);
}

.infoList {
  display: flex;
  flex-direction: column;
}

.infoItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.infoItem:hover {
  background-color: var(--color-surface);
  transform: translateX(5px);
}

.iconWrapper {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-surface);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.infoItem:hover .iconWrapper {
  background-color: var(--color-accent);
}

.iconWrapper i {
  font-size: 1.5rem;
  color: var(--color-text);
  padding: 0;
  margin: 0;
}

.infoItem:hover .iconWrapper i {
  color: white;
}

.infoTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 0.25rem;
}

.infoDetail {
  color: var(--color-text);
  font-size: 0.8rem;
  margin: 0;
}

.socialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.socialTitle {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  color: var(--color-text);
}
.infoText {
  text-align: left;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.mapContainer {
  width: 360px;
  height: 200px;
  border: 1px solid rgba(248, 244, 244, 0.1);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3), 0 0 10px var(--color-surface);

  margin-top: 1rem;
}

.map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .contactInfo {
    padding: 1.5rem;
  }

  .header {
    font-size: 1.75rem;
  }

  .infoItem {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .infoText {
    text-align: center;
  }
}
