.contactInfo {
  width: 33.333%;

  border: 2px solid rgba(248, 244, 244, 0.1);
  border-radius: 8px;
  background: var(--color-background);
}

.container {
  background: var(--color-background);
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.container:hover {
  border-radius: 1rem;
  transform: scale(1.02);
  box-shadow: 0 8px 25px rgba(83, 235, 192, 0.4);
  border: 2px solid var(--color-text);
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  text-align: left;
}

.infoItem {
  display: flex;
  align-items: flex-start;
}

.iconWrapper {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-surface);
  border: 2px solid #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.iconWrapper i {
  font-size: 1.5rem;
  color: var(--color-text);
  transition: color 0.3s ease;
  display: inline-block;
  align-items: center;
}

.iconWrapper i:hover {
  box-shadow: 0 8px 25px rgba(83, 235, 192, 0.4);
  color: var(--color-accent);
  transform: scale(1.1);
}

.infoItem h5 {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #dedee5;
}

.infoItem p {
  color: var(--color-text);
  margin: 0;
}

.socialSection {
  margin-bottom: 2.5rem;
  margin-top: 3rem;
}

.socialSection h5 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-text);
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.mapContainer {
  width: 15.5rem;
  height: 13.25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.mapContainer:hover {
  transform: scale(1.05);
}

.mapContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  transition: transform 0.5s ease;
}
