.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  background: url("/images/patrick-tommaso-unsplash.jpg") no-repeat center
    center/cover;
  border-radius: 8px;
}
.text {
  max-width: 600px;
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.title {
  font-size: 3rem;
  background: linear-gradient(90deg, #00ffe7, #5e60ce);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmerIcon 4s linear infinite;
  filter: brightness(1.1);
}

@keyframes shimmerIcon {
  0% {
    filter: brightness(1) drop-shadow(0 0 2px #fff);
  }
  50% {
    filter: brightness(1.5) drop-shadow(0 0 8px #00e5ff);
  }
  100% {
    filter: brightness(1) drop-shadow(0 0 2px #fff);
  }
}
.paragraph {
  font-size: 1.5rem;
  color: #bdbdbd;
  max-width: 500px;
}

.button {
  background: linear-gradient(
    to right,
    #1c1d5066,
    #4b67e333,
    /* cc = 80% прозорості */ #7274ed,
    #4b4ee366,
    #1c1d5033
  );
  border: none;
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.button:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}
.image {
  max-width: 600px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image:hover {
  transform: scale(1.05);
  transform: rotateY(180deg);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.preview {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 90%;
  left: 70px;
  color: #90a6e9;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* .preview {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.preview:hover .overlay {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.skills {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 70%;
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #1c1d5033,
    #4b67e333,
    /* cc = 80% прозорості */ #7274ed,
    #4b4ee333,
    #1c1d5033
  );
  border: 1px solid rgba(248, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.menu {
  position: absolute;
  top: 200px;
  left: 80px;
  width: 38px;
  height: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    #1c1d5033,
    #4b67e333,
    /* cc = 80% прозорості */ #7274ed,
    #4b4ee333,
    #1c1d5033
  );
  border: 1px solid rgba(248, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 40px;
  will-change: transform;
  overflow: hidden;
}
.alt {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.skills {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 70%;
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #1c1d5033,
    #4b67e333,
    /* cc = 80% прозорості */ #7274ed,
    #4b4ee333,
    #1c1d5033
  );
  border: 1px solid rgba(248, 244, 244, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
