.section {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
    isolation: isolate;

}

.section::after {
    content: "Technologies";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    font-size: 24rem;
    font-weight: bold;
    color: var(--color-accent);
    z-index: 1;
    pointer-events: none;
    opacity: .018;
}

/* HEADER */
.eyebrow {
    display: flex;
    align-items: center;
    gap: 0.85rem;
    margin-bottom: 2.5rem;
    margin-left: 15rem;
}

.eyebrowLine {
    display: block;
    width: 36px;
    height: 1px;
    background: var(--color-accent);
}

.eyebrowText {
    font-family: var(--font-mono);
    font-size: 0.65rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: var(--color-secondary);
}

/* TRACK */
.track {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    padding: 2rem 0;
    z-index: 1;
    height: 200%;
    perspective: 1200px;

}

.track::before,
.track::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: -1;
    width: 200px;
    z-index: 0;
    pointer-events: none;
    backdrop-filter: blur(4px);
    perspective: 1200px;
}

.track::before {
    left: 0;
    background: linear-gradient(to right, var(--color-shadow), transparent);
}

.track::after {
    right: 0;
    background: linear-gradient(to left, var(--color-shadow), transparent);
}

/* INNER */
.inner {
    display: flex;
    gap: 1.5rem;
    width: max-content;
    transform: perspective(1200px) rotateX(-3deg);
    transform-style: preserve-3d;
    will-change: transform;
}

.devider {
    position: absolute;
    top: 50%;
    left: 0;
    width: 80%;
    height: 1px;
    background: var(--color-border);
    opacity: .5;
    margin: 0 auto;
}

/* CARD */
.card {
    flex-shrink: 0;
    width: 340px;
    padding: 1.4rem;


    transition: transform .45s,
    border-color .45s,
    background .45s,
    box-shadow .45s;
}

/* DEPTH LAYERS */
.card:nth-child(3n) {
    transform: translateZ(40px);
}

.card:nth-child(2n) {
    transform: translateZ(20px);
}

/* HOVER */
.card {
    transition: transform .35s cubic-bezier(.22, 1, .36, 1);
}

.card:hover {
    transform: translateY(-8px);

}

/* CONTENT */
.cardContent {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon {
    width: 32px;
    height: 32px;
    opacity: .9;
    flex-shrink: 0;
}

.name {
    font-size: 1.1rem;
    color: var(--color-text);
    letter-spacing: 0.02em;
}

.desc {
    font-size: .72rem;
    opacity: .6;

    letter-spacing: .12em;
    text-transform: uppercase;
    color: var(--color-accent);
}

/* PERFORMANCE */
.card,
.inner {
    will-change: transform, opacity, filter;
    backface-visibility: hidden;
}

/* MOBILE */
@media (max-width: 768px) {
    .inner {
        transform: none;
    }

    .card {
        width: 150px;
        height: 90px;
    }
}
