.container {
  width: 100%;

  transform-style: preserve-3d;

  overflow: hidden;
  padding: 2rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-left: 60px;

  -webkit-background-clip: text;
  background-clip: text;
  color: var(--color-text);
  text-align: left;
}

.sliderContainer {
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sliderContainer::-webkit-scrollbar {
  display: none;
  width: 100%;
}

.sliderTrack {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  will-change: transform;
}

/* Flip Card Styles */
.flipCard {
  background: transparent;
  width: 140px;
  height: 100px;
  perspective: 1000px;
}

.flipInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipInner {
  transform: rotateY(180deg);
}

.flipFront,
.flipBack {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  background: "transparent";
  gap: 0.5rem;
  backdrop-filter: blur(6px);

  text-align: center;
  padding: 0.5rem;
}

.flipFront i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.flipFront span {
  font-weight: 600;
}

.flipBack {
  transform: rotateY(180deg);
}

.flipBack p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

.tech .more {
  font-size: 0.8rem;
  color: #63b3ff;
}
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .flipCard {
    width: 100px;
    height: 80px;
  }

  .flipFront span {
    font-size: 0.8rem;
  }

  .flipBack p {
    font-size: 0.8rem;
  }
  .header h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  .flipCard {
    width: 60px;
    height: 40px;
  }

  .flipFront span {
    font-size: 0.6rem;
  }

  .flipBack p {
    font-size: 0.6rem;
  }

  .header h3 {
    font-size: 0.8rem;
  }
}
