#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
  font-family: "Poppins", Helvetica, sans-serif;
  min-height: 100vh;
  background: var(--color-background);
}
