#root {
  min-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  border: 2px solid rgb(238, 235, 235);
  border-radius: 8px;
  background: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg */
