/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  overscroll-behavior: none;
  color: var(--color-text);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  font-family: "Poppins", Helvetica, sans-serif;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* CSS variables */
:root {
  --color-background: #0f0f0f;
}

/* Anchor styles */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: inherit;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Buttons */
button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

/* Custom selection */
::selection {
  background-color: var(--color-primary);
  color: #000;
}
