/* TechIcon.css */

.container {
  position: relative;
}

.techIcon {
  width: 36px;
  height: 36px;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.6s ease-out;
  cursor: pointer;
}

.techIcon.visible {
  opacity: 1;
  transform: translateX(0);
  &:hover {
    transform: scale(1.2);
    opacity: 1;
  }
}
.tooltip {
  position: absolute;
  top: -15px;
  width: 76px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-background);

  padding: 2px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 1000;
  text-align: center;
  border: 1px solid #fff;
  transition: opacity 0.3s ease-in-out;
}

.tooltip:hover {
  visibility: visible;
  opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .tech-icon {
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 375px) {
  .tech-icon {
    width: 28px;
    height: 28px;
  }
}
