.section {
  /* top-bottom 80px, left-right 32px */
  margin-bottom: 0;

  /* gap between sections */
}
.section {
  transition: background 1.5s ease-in-out;
  -webkit-transition: background 1.5s ease-in-out;
  -moz-transition: background 1.5s ease-in-out;
  -ms-transition: background 1.5s ease-in-out;
  -o-transition: background 1.5s ease-in-out;
}
@media (max-width: 1024px) {
  .section {
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .section {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 480px) {
  .section {
    margin-bottom: 1rem;
  }
}

.container {
  background-image: var(--color-background);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  height: auto;
  width: 100%;

  position: relative;
  overflow: auto;
}
.sertificate {
  background-color: #00031c;
  background-image: url("https://cdn.prod.website-files.com/6835b6a2066eb03b3773dbcb/68386cc9937607453f7d5ff5_bg-4.avif");
  background-size: cover;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.textContent {
  flex: 1;
  min-width: 300px;
  padding: 2rem;
}

.title {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
.name {
  color: var(--color-title);
}
.paragraph {
  font-size: 1.25rem;
  color: var(--color-text);
  margin-bottom: 2rem;
  max-width: 600px;
}

.button {
  background: linear-gradient(
    135deg,
    var(--color-accent),
    var(--color-accent-hover)
  );
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 174, 193, 0.3);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 400px;
  border: 4px solid var(--color-border);
  border-radius: 20px;
  overflow: hidden;
}

.profileImage {
  max-width: 100%;
  height: 500px;
  object-fit: cover;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}
.profileImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(00, 00, 00, 0.1);
  opacity: 0.8;
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 174, 193, 0.3);
  transition: transform 0.5s ease;
  z-index: auto;
}
.profileImage:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgba(0, 174, 193, 0.3);
  transition: transform 0.5s ease;
}
.projects {
  margin-top: 2rem;
}

.skillsSection {
  max-width: 1400px;

  width: 100%;
}

.imageBadge {
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background: var(--color-surface);
  color: var(--color-text);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.animate_bounce {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.scrollContainer {
  color: var(--color-text);
  background: var(--color-header);
}

.scrollArrow {
  color: var(--color-text);
}
.carusel {
  background: radial-gradient(
    circle farthest-corner at 100% 0%,
    #0300b4 15%,
    #00031c 100%
  );
  background-size: cover;
  padding: 0rem 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
    height: auto;
  }
  .content {
    flex-direction: column;
  }

  .textContent {
    order: 1;
    text-align: center;
    padding: 1rem;
  }

  .imageWrapper {
    order: 2;
    margin-top: 1rem;
    max-width: 600px;
  }

  .button {
    margin: 0 auto 2rem;
  }

  .paragraph {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .skillsSection {
    margin: 0.5rem auto;
    max-width: 100%;
  }

  .container {
    padding: 0.5rem;
    height: auto;
  }
  .imageWrapper {
    margin-top: 0.5rem;
    max-width: 100%;
  }
  .title {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 1.1rem;
  }

  .container {
    padding: 0, 5rem;
  }

  .textContent {
    padding: 1rem;
  }
  .imageWrapper {
    margin-top: 0, 5rem;
  }

  .button {
    margin: 0 auto 1rem;
  }

  .paragraph {
    margin-left: auto;
    margin-right: auto;
  }

  .imageBadge {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .profileImage {
    height: 400px;
  }

  .profileImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(00, 00, 00, 0.2);
    opacity: 0.8;
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 174, 193, 0.3);
    transition: transform 0.5s ease;
    z-index: auto;
  }
  .profileImage:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 30px rgba(0, 174, 193, 0.3);
    transition: transform 0.5s ease;
  }
}
